### IDEA ###
.idea/*
*.iml
*/target/*
*/*.iml

# **/foo == foo == /**/foo    匹配当前目录下所有层级的foo文件夹或文件
# */foo == */foo/** /*/foo    匹配当前目录的子目录下的所有层级的foo文件夹或文件
# /foo                        仅匹配当前目录下的foo文件夹或文件
# /foo/                       仅匹配当前目录下的foo文件夹
# *.class                     匹配当前目录下的所有以.class结尾的文件
# a/**/b == /a/**/b           匹配当前目录下的a文件夹下所有层级的b文件夹或文件
# bar == bar/* == bar/**      匹配当前目录下所有层级的bar文件夹或文件
